# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env

# Vite
/public/build
*.log

# Docker
*.pid
*.sock

# IDEs y sistema
.DS_Store
*.swp
*.swo
.idea
.vscode

# Composer & NPM lock files (opcional si no querés versionarlos)
# composer.lock
package-lock.json
